
.gridChiffres{
  display: flex;
  flex-direction: column;
  /* grid-gap: 30px;  */
  height: 100%;
  justify-content: space-between;
}

.chiffres{
  border-radius: 7px;
  background-color: $grisClair;
  display: flex;
  padding: 30px;
  img{
    max-width: 60px;
    margin-right: 20px;
  }
}

.nombres{
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .value{
    font-size: 1.5em;
  }
  .label{
    color: $grisMoyen;
  }
}
