.tooltip-LineChart{
  background-color: $blanc;
  color: $noir;
  font-size: 12px;
  padding: 5px 10px;
  font-weight: 700;
}

.legende-LineChart{
  color: $blanc;
  padding: 20px;
  font-weight: 500;
  font-size: 1em;
  opacity: 0.8;
}