.legende-RadialChart{
  text-align: center;
  color: #8D91A0;
  font-weight: 500;
  font-size: 1.2em;
}
.legende-RadialChart >div:nth-child(1){
  color: black;
  font-size: 1.4em;
}
.titleScore{
  padding: 20px 0 0 30px;
  font-weight: 500;
  font-size: 1.1em;
}