.legende-RadialChart{
  text-align: center;
  color: $grisMoyen;
  font-weight: 500;
  font-size: 1.2em;
  @media only screen and (max-width: 1200px) {
    font-size: 0.9em;
  }
}
.legende-RadialChart >div:nth-child(1){
  color: $noir;
  font-size: 1.4em;
}
.titleScore{
  padding: 20px 0 0 30px;
  font-weight: 500;
  font-size: 0.9em;
  color: $noir;
  position: absolute;
  top: -120%;
  left: 0;
  @media only screen and (max-width: 1200px) {
    font-size: 1.2em;
    top: -160%;
  }

}
