aside{
  height: 100%;
  position: absolute;
  width: 10%;
  top: 0;
  left: 0;
  z-index: -1;
}

aside div{
  display: flex;
  grid-gap: 15px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 220px;
  height: 100%;
}

aside img{
  max-width: 50%;
}

aside span{
  color: white;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}